*{
    box-sizing: border-box;
    overflow: hidden;

   
}



body{
    background-color:rgba(0,0, 0, 0.9);
    opacity:1.0;
    color: white;
}


h1{
    text-align: justify;
    color: white;
}
.navbar{
list-style-type: none;
display: flex;
flex-wrap: wrap; /* allows items to move to next line if needed */
justify-content: center;
gap: 1vh;
width: 100vw;
margin: auto;
padding-left: 3vh;
border: 0.1vh solid;

}



a{

    width: 5vh;
    text-decoration: none;
    color: white;

    
}

a:hover{
   background-color: rgba(0,0, 0, 0.7);
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
}

.firstpage{
    background-image: url(images/bmwbackground.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.navbar2{
    display: flex;
    text-align: center;
    justify-content: center;

  

}
.searchbar{
    color:rgba(0,0, 0, 0.9);
    border-radius: 20px;
   display: flex;
   flex-wrap: nowrap;
    margin:5vh 50vh;
 
   width: 46vh;
   height: 4vh;
   
}
.description{
text-align: center;
    
}

.shortcut{
display: flex;
flex-wrap: nowrap;  /*items will remain on the same line */
gap: 2vh;
justify-content: center;
width: 80vh;
margin: auto;
}

#shop{
   border: 0.1vh solid;
   width: 20vh;
   height: 5vh;
   max-width:50vh;
    padding: 3vh;
    text-align: center;
    font-size: 80%;
    margin-top: 5vh;
    transition: 0.2s;
}

#shop:hover{
background-color:rgba(0,0, 0,);
transition: 0.5s;

}


.FAQ{
    border: solid 0.1vh;
    text-align: center;
    padding: 3vh;  
    width: 20vh;
    font-size: 70%;
    margin-top: 5vh;
    height: 5vh;
}
   
/*CONTACT US STYLE starts here */

.section2{
   color: black;
}